.heading {
  margin-top: 55rem;
  text-align: center;
  font-size: rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.item {
  position:fixed;
  top:5rem;
  right:2rem;
  color: black;
  font-size: 15px;
  background-color:rgb(255, 141, 141);
  border-radius: 4px;
  border: 1px solid #c1d3fe;
}
