* {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
  }
  
  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  .container {
    margin: 50px auto;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    display: block;
    color:#132743;
    margin-bottom: 0.5rem;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="email"] {
    padding: 10px;
    border-radius: 3px;
    border: none;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
  }
  
  button[type="submit"]:hover {
    background-color: #2E8B57;
  }
  
  .login-link {
    display: block;
    padding: auto;
    text-align: center;
    margin-top: 2rem;
    text-decoration: none;
    color: #999;
  }
  
  .login-link:hover {
    color: #2f2f2f;
  }
  